<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951945595901-8d8lbr8nf3ncrupjad5iq4floa4g7geq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951945595901-8d8lbr8nf3ncrupjad5iq4floa4g7geq</string>
	<key>API_KEY</key>
	<string>AIzaSyDwcunRq8BPZqxLtmDtsk21j2ssWlY4fHE</string>
	<key>GCM_SENDER_ID</key>
	<string>951945595901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventhub</string>
	<key>PROJECT_ID</key>
	<string>eventhub-2beb6</string>
	<key>STORAGE_BUCKET</key>
	<string>eventhub-2beb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951945595901:ios:383a3ec59a23ea4a9da794</string>
</dict>
</plist>